/*CSS variables section*/
:root {

  color: white;

}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: black;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,.dropdown:hover .dropbtn {
  background-color: white;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Extra Large screens - Extra large desktops*/

/*General CSS and CSS reset*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 46px;
}

.hero {
  background-image: url("https://png.pngtree.com/background/20230528/original/pngtree-many-different-sports-items-sitting-on-a-dark-background-picture-image_2780526.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;



}

.hero-text {
  background-color: rgba(4, 7, 32, 0.5);
  height: 600px;
  text-align: center;
  align-items: center;
}

.slide {
  display: flex;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
}

h1 {
  color: white;

  text-shadow: 8px 10px 10px #000000;
  border-top: none;
  border-bottom: none;
  padding: 90px 40px;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 800;

}

.about {

  height: 1800px;
  background-image: url("https://img.freepik.com/free-photo/blue-hex-backgrounds-networking_23-2149755765.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;



}

.icons {
  font-size: 20px;
  letter-spacing: 5px;

}

.title1 {
  margin-left: 4%;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  padding: 60px 10px;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;

}

.in {
  margin-left: 5%;
  margin-right: 50%;
}

.about-main {
  width: 90%;

  margin: auto;
  display: flex;
  justify-content: space-between;

}

.right {
  background-image: url("https://uploads-ssl.webflow.com/63c10e746e818183b41808a0/63c2625d07fffe13786785ba_Our-club-img.jpg");
  background-repeat: no-repeat;
  height: 400px;
  width: 48%;
  float: right;

}

.bottom {
  width: 90%;
  margin: auto;

  .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }

  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  .button:hover {
    background-color: #000;
  }

  .button:hover .button__icon-wrapper {
    color: #000;
  }

  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }

  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }

  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }
}

.event {
  text-align: center;
  margin-top: 400px;
}

.Date-mo {

  word-spacing: 200px;
}

.hr {
  margin-left: 20%;
  margin-right: 20%;
}

.Date {
  word-spacing: 150px;
}

.joinnow {
  margin-left: 45%;
  margin-right: auto;

  .contactButton {
    background: rgba(88, 101, 242, 1);
    color: white;
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1.0em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
  }

  .iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
    right: 0.3em;
    transition: all 0.3s;
  }

  .contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5566c2;
  }

  .contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #5566c2;
  }
}

h3 {
  font-size: 40px;

  font-weight: 600;

}

.service {
  height: 1500px;
  padding-bottom: 100px;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/324/106/526/black-honeycomb-pattern-hd-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
}

.sright {
  margin-top: 200px;
  margin-left: 30px;
  float: left;


}

button {
  height: 50px;
  margin: 5px;
  width: 170px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404C5D 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465B,
    5px 5px 15px #41465B,
    inset 5px 5px 10px #212121,
    inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465B,
    5px 5px 15px #41465B,
    inset 5px 5px 10px #212121,
    inset -5px -5px 10px #212121;
}

button:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e,
    -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e,
    -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button:active {
  -webkit-box-shadow: 1px 1px 13px #20232e,
    -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e,
    -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.sfont {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.sleft {
  float: left;
  padding-right: 5%;
}


.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  margin-top: 150px;
  margin-left: 150%;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  margin-top: -200px;
  margin-left: 270%;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  margin-top: -120px;
  margin-left: 150%;
}

.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  margin-top: -180px;
  margin-left: 275%;
}

.card5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  margin-top: -120px;
  margin-left: 150%;
}

.card6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  margin-top: -190px;
  margin-left: 275%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 5px 16px;
}

.card-text {
  width: 90%;

}

.testimony {
  height: 1200px;
  padding-bottom: 150px;
  background-color: white;
  overflow: hidden;

  .btn {
    margin-left: 100px;
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
        /* Top-left */
        0% var(--curve-size),

        var(--curve-size) 0,
        /* top-right */
        100% 0,
        100% calc(100% - var(--curve-size)),

        /* bottom-right 1 */
        calc(100% - var(--curve-size)) 100%,
        /* bottom-right 2 */
        0 100%);
    transition: color 250ms;
  }

  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }

  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }

  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }

    50% {
      background-position: 70% 100%
    }

    100% {
      background-position: 31% 0%
    }
  }

  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
        /* Top-left */
        var(--border-width) calc(var(--curve-size) + var(--border-width) * .5),

        calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

        /* top-right */
        calc(100% - var(--border-width)) var(--border-width),

        calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

        /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
        /* bottom-right 2 */
        var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }

  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
        /* Top-left */
        calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),

        calc(100% - var(--border-width)) var(--border-width),

        /* top-right */
        calc(100% - var(--border-width)) var(--border-width),

        calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

        /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),

        /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
    transition: 200ms;
  }

  .btn:where(:hover, :focus) {
    color: #fff;
  }

}

.title {
  margin-top: 5%;
  color: black;
  margin-left: 50px;
  font-size: 35px;
}

.para {
  color: #000;
  margin-left: 45px;
  margin-right: 1000px;
}

.imagediv {
  background: url('https://img.freepik.com/premium-photo/abstract-crayon-stroke-graphic-element_255319-1950.jpg?w=740');
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 60%;
}

.image1 {
  margin-top: -250px;
  margin-left: 70%;

}

.img1 {
  border-radius: 0px 50px 0px 0px;
  ;
}

.img4 {
  border-radius: 0px 0px 0px 50px;
  ;
}

.image2 {
  margin-top: -150px;
  margin-left: 65%;
}

.image3 {
  margin-top: -150px;
  margin-left: 60%;
}

.image4 {
  margin-top: -150px;
  margin-left: 55%;
}
.cimg1{
  margin-left: 3%;
  margin-top: 5%;
  width: 80px;
  color: black;
  border-style: dotted;
  border-radius: 50%;
}
.chooseimg1{
  margin-top: -7%;
  margin-left: 12%;
  color: black;
}
.gallery{
  margin-top: 5%;
  height: 1200px;
  background-image: url('https://www.hdwallpapers.in/download/white_hexagon_geometric_shapes_hd_white_aesthetic-1280x720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.gh{
  color: #000;
  font-family: 'Oswald', sans-serif;
  padding-top: 80px;
  padding-left: 50px;
}
.gimg1{
  padding-left: 50px;
}
.faq{
  height: 1050px;
  background-color: #000;
}
.faqimg{
  padding-top: 100px;
  float: left;
}
.faqcont{
  padding-top: 90px;
}
.faqhead{
  margin-top: 3%;
  font-size: 30px;
  margin-left: 50%;
  margin-right: 20%;
}
.faqcon{
  margin-left: 50%;
  margin-right: 10%;
}
.spons{
  margin-top: 20px;
  margin-left: 50px;
  height: 150px;
}
.gimg2{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sp{
  height: 1200px;
}
.contact{
  height: 1100px;
  background-color: #000;
}
.abc{
  padding-top: 5%;
  padding-right: 70%;
  padding-left: 5%;
}
.abch{
  padding-right: 75%;
  padding-left: 5%;
}
.mm{
  color: #ffffff;
  font-size: 40px;
  padding-left: 5%;
  padding-top: 2.5%;
}
.phno{
  font-size: 20px;
  margin-top: -4%;
  margin-left: 5%;
}
.form{
  float: right;
  margin-top: -15%;
}
.orange {
  color: #ff7a01;
}

.form1-container {
  max-width: 700px;
  margin: 30px;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solid #ff7a01;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form1-container .form1 .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form1-container .form1 .input:focus {
  border-left: 5px solid #ff7a01;
}

.form1-container .form1 .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #ff7a01;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form1-container .form1 .textarea:focus {
  border-left: 5px solid #ff7a01;
}

.form1-container .form1 .button-container {
  display: flex;
  gap: 10px;
}

.form1-container .form1 .button-container .send-button {
  flex-basis: 70%;
  background: #ff7a01;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form1-container .form1 .button-container .send-button:hover {
  background: transparent;
  border: 1px solid #ff7a01;
  color: #ff7a01;
}

.form1-container .form1 .button-container  {
  filter: drop-shadow(1px 1px 0px #ff7a01);
  flex-basis: 30%;
}

.form1-container .form1 .button-container  {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #ff7a01;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form1-container .form1 .button-container .reset-button:hover {
  background: #ff7a01;
  color: #001925;
}
.ql{
  padding-left: 5%;
  padding-top: 4%;
}
.qb{
  padding-top: 2%;
  padding-right: 90%;
  padding-left: 5%;
}
.s{
  float: right;
  padding-right: 15%;
}
.social {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social .social-item {
  margin: 0 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .social-item .social-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(0, 0);
  transition: all 0.4s ease;
}

.social .social-item .social-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewY(-45deg);
}

.social .social-item .social-link::after {
  content: "";
  position: absolute;
  top: 40px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewX(-45deg);
}

.social .social-item .social-link:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.social .social-item:nth-child(1) a {
  color: #3b5999;
}

.social .social-item:nth-child(1):hover a {
  background: #3b5999;
}

.social .social-item:nth-child(1):hover a::before {
  background: #3b5999;
}

.social .social-item:nth-child(1):hover a::after {
  background: #3b5999;
}

.social .social-item:nth-child(2) a {
  color: #55acee;
}

.social .social-item:nth-child(2):hover a {
  background: #55acee;
}

.social .social-item:nth-child(2):hover a::before {
  background: #55acee;
}

.social .social-item:nth-child(2):hover a::after {
  background: #55acee;
}

.social .social-item:nth-child(3) a {
  color: #dd4b39;
}

.social .social-item:nth-child(3):hover a {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::before {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::after {
  background: #dd4b39;
}

.social .social-item:nth-child(4) a {
  color: #e4405f;
}

.social .social-item:nth-child(4):hover a {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::before {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::after {
  background: #e4405f;
}

.social .social-item .social-link:hover {
  color: #ffffff;
}

